{
  "account": "admin",
  "detail": {},
  "detail-type": "Scheduled Event",
  "id": "dummy",
  "region": "ap-northeast-1",
  "resources": [],
  "source": "aws.events",
  "time": "2019-06-24T01:23:45Z",
  "version": "1.0"
}
