{
  "version": "2.0",
  "app_name": "twitter-bot",
  "stages": {
    "dev": {
      "autogen_policy": true
    },
    "prod": {
      "manage_iam_role": false,
      "iam_role_arn": "arn:aws:iam::XXXXXXXX:role/XXX",
      "environment_variables": {
        "SLACK_WEBHOOK_URL": ""
      }
    }
  }
}
